<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="all">
        <!--側欄界面設計-->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" v-for="(item) in sideBar">
                {{item.categoryName}}
            </a>
        </div>
        <div class="container" id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <div class="newThread row">
                <div class="offset-3"></div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-3" for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control col-8" v-model="newThread.Name">
                    </div>
                    <!-- <div class="row">
                        <label class="col-3" for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control col-8" v-model="newThread.Title">
                    </div> -->
                    <div class="row">
                        <label class="col-3" for="exampleInputEmail1">Comment</label>
                        <textarea cols="45" rows="5" v-model="newThread.Comment">
                                    </textarea>
                    </div>
                    <button class="btn btn-primary" @click="newThreadPost">Post</button>
                </div>
                <div class="offset-3"></div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col-12">123</div>
                <div class="col-12">123</div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/xdate.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/vueUse.js"></script>
    <script src="../js/sideBar.js"></script>
</body>

</html>