<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="all">
        <!-- 回復方塊 -->
        <div class="reply ">
            <div class="row">
                <div class="col-12 d-flex"><button class="ml-auto" @click.prevent="closeReply">close</button></div>
                <div class="newThread col-12">
                        <label class="col-3 ml-2" for="exampleInputEmail1">Name</label>
                        <input type="text" class="col-7" v-model="reply.Name">
                    <div class="row">
                        <label class="col-3 ml-2" for="exampleInputEmail1">Comment</label>
                        <textarea cols="45" rows="5" v-model="reply.Comment">
                            </textarea>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary" v-if="modify" @click.prevent="modifyContent">Modify</button>
                        <button class="btn btn-danger" v-if="modify" @click.prevent="deleteContent">Delete</button>
                        <button class="btn btn-primary" v-else @click="newContent($event)">Post</button>
                    </div>
                </div>
            </div>
        </div>
        <!--側欄界面設計-->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" v-for="(item) in sideBar" v-bind:data-categoryId="item.categoryId" 
            v-bind:data-categoryName="item.categoryName" @click.prevent="changeBoard($event)">
                {{item.categoryName}}
            </a>
        </div>
        <div class="container" id="main">
            <!-- 側邊欄開關 -->
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <div class="row mb-2">
                <div class="col-12 text-center display-4">{{title}}</div>
            </div>
            <!-- 投稿新文章 -->
            <div class="newThread row">
                <div class="offset-3"></div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-3" for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control col-8" v-model="newThread.Name">
                    </div>
                    <div class="row">
                        <label class="col-3" for="exampleInputEmail1">Comment</label>
                        <textarea cols="45" rows="5" v-model="newThread.Comment">
                        </textarea>
                    </div>
                    <button class="btn btn-primary" @click="newThreadPost">Post</button>
                </div>
                <div class="offset-3"></div>
            </div>
            <hr class="mb-5">
            <div class="row" v-for="item in allContents">
                <div class="block col-12 mt-1" v-for="i,index in item" v-bind:data-threadId="i.threadId">
                    <div class="col-12 d-flex" v-bind:data-contentid="i.contentId">
                        <input type="checkbox" value="delete">
                        <span class="ml-2 text-success">{{i.userName}}</span>
                        <span class="ml-2"> {{i.contentTime}}</span>
                        <span class="ml-2">No.{{i.contentId}}</span>
                        <button class="ml-auto"  @click.prevent="showModify($event)">modify</button>
                        <button v-if="index == 0" class="" @click.prevent="showReply($event)">reply</button>
                    </div>
                    <div class="col-12">{{i.contentText}}</div>
                </div>
                <hr class="mb-3 col-12">
            </div>
        </div>
    </div>
    <!--test-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../js/xdate.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/vueUse.js"></script>
    <script src="../js/sideBar.js"></script>
</body>

</html>